{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to MEOWWER!</h1>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="meoww-create-form" method="POST" action="/create-meoww">
            {%csrf_token%}
            <div class='d-none alert alert-danger' id='meoww-create-form-error'></div>
            <input type="hidden" name="next" value="/">
            <textarea required='required' name="content" class="form-control" placeholder="Your Content"></textarea>
            <button type="submit" class="btn btn-primary">Meoww</button>
        </form>
    </div>
</div>

<div class="row" id="meowws">
    to be replaced
</div>

<script>

    const meowwCreateElement = document.getElementById('meoww-create-form')
    meowwCreateElement.addEventListener("submit", handleCreateFormDidSubmit)
    const meowwsContainerElement = document.getElementById("meowws")

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function handleCreateError(msg, display) {
        var myError = document.getElementById('meoww-create-form-error')
        if (display === true) {
            myError.setAttribute("class", "d-block alert alert-danger")
            myError.innerText = msg
        } else {
            myError.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myformData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        // console.log(event);
        xhr.open(method, url);
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.onload = function () {
            if (xhr.status === 201) {
                handleCreateError("", false)
                const newMeowwJson = xhr.response
                // const newMeowwJson = JSON.parse(newMeoww)
                console.log(newMeowwJson.likes)
                const newMeowwElement = formatMeowwElement(newMeowwJson)
                // console.log(newMeowwElement)
                const ogHTML = meowwsContainerElement.innerHTML
                meowwsContainerElement.innerHTML = newMeowwElement + ogHTML
                myForm.reset()
            } else if(xhr.status === 400) {
                const errorJSON = xhr.response
                const contentError = errorJSON.content
                let contentErrorMsg;
                if (contentError) {
                    contentErrorMsg = contentError[0]
                    if (contentErrorMsg) {
                        handleCreateError(contentErrorMsg, true)
                    }
                } else {
                    alert("An error occurred, Please try again later!")
                }
            } else if(xhr.status === 500) {
                alert("There was a server error.")
            } else if(xhr.status === 401) {
                alert("You need to login.")
                window.location.href = "/login"
            } else if(xhr.status === 403) {
                alert("You need to login.")
                window.location.href = "/login"
            }
        }
        xhr.onerror = function() {
            alert("An error occurred, Please try again later!")
        }
        xhr.send(myformData)
    }

    function loadMeowws(meowwsElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = "/meowws"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
            const serverResponse = xhr.response
            var listedItems = serverResponse
            var finalMeowwStr = ""
            var i
            for (i = 0; i < listedItems.length; i++) {
                var meowwObj = listedItems[i]
                var currentItem = formatMeowwElement(meowwObj)
                finalMeowwStr += currentItem
            }
            meowwsElement.innerHTML = finalMeowwStr
        }
        xhr.send()
    }

    loadMeowws(meowwsContainerElement)

    function handleActionBtn(meoww_id, currentCount, action) {
        console.log(meoww_id, currentCount);
        const url = "api/meowws/action/" 
        const method = "POST"
        const data = JSON.stringify({
            id: meoww_id,
            action: action
        })
        const xhr = new XMLHttpRequest();
        const csrftoken = getCookie('csrftoken');
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
        xhr.onload = function() {
            loadMeowws(meowwsContainerElement)
        }
        xhr.send(data)
        return
    }
    function ReMeowwBtn(meoww) {
        return "<button class='btn btn-outline-success' onclick=handleActionBtn(" + meoww.id + "," + meoww.likes + ",'remeoww')>" + meoww.likes + " ReMeoww</button>"
    }
    function UnLikeBtn(meoww) {
        return "<button class='btn btn-outline-primary' onclick=handleActionBtn(" + meoww.id + "," + meoww.likes + ",'unlike')>" + meoww.likes + " UnLike</button>"
    }
    function LikeBtn(meoww) {
        return "<button class='btn btn-primary' onclick=handleActionBtn(" + meoww.id + "," + meoww.likes + ",'like')>" + meoww.likes + " Like</button>"
    }
    function formatMeowwElement(meoww) {
        var formattedMeoww = "<div class='mb-4 col-12 col-md-10 mx-auto border rounded py-3 tweet' id='tweet-" + meoww.id + "'><p>" + meoww.content + "</p><div class='btn-group'>" + 
        LikeBtn(meoww) + 
        UnLikeBtn(meoww) + 
        ReMeowwBtn(meoww) + 
        "</div></div>"
        return formattedMeoww
    }
</script>

{% endblock content %}