{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to MEOWWER!</h1>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="meoww-create-form" method="POST" action="/create-meoww">
            {%csrf_token%}
            <input type="hidden" name="next" value="/">
            <textarea name="content" class="form-control" placeholder="Your Content"></textarea>
            <button type="submit" class="btn btn-primary">Meoww</button>
        </form>
    </div>
</div>

<div class="row" id="meowws">
    to be replaced
</div>

<script>

    const meowwCreateElement = document.getElementById('meoww-create-form')
    meowwCreateElement.addEventListener("submit", handleCreateFormDidSubmit)
    const meowwsEl = document.getElementById("meowws")

    function handleCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myformData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        // console.log(event);
        xhr.open(method, url);
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.onload = function () {
            const serverResponse = xhr.response
            // serverResponse = html returned
            console.log(xhr.status, xhr.response)
            const meowwsEl = document.getElementById("meowws")
            loadMeowws(meowwsEl)
        }
        xhr.send(myformData)
    }

    function loadMeowws(meowwsElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = "/meowws"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
            const serverResponse = xhr.response
            var listedItems = serverResponse.response
            var finalMeowwStr = ""
            var i
            for (i = 0; i < listedItems.length; i++) {
                var meowwObj = listedItems[i]
                var currentItem = formatMeowwElement(meowwObj)
                finalMeowwStr += currentItem
            }
            meowwsElement.innerHTML = finalMeowwStr
        }
        xhr.send()
    }

    loadMeowws(meowwsEl)

    function handleDidLike(meoww_id, currentCount) {
        console.log(meoww_id, currentCount);
    }
    function LikeBtn(meoww) {
        return "<button class='btn btn-primary' onclick=handleDidLike(" + meoww.id + "," + meoww.likes + ")>" + meoww.likes + " Like</button>"
    }
    function formatMeowwElement(meoww) {
        var formattedMeoww = "<div class='mb-4 col-12 col-md-10 mx-auto border rounded py-3 tweet' id='tweet-" + meoww.id + "'><p>" + meoww.content + "</p><div class='btn-group'>" + LikeBtn(meoww) + "</div></div>"
        return formattedMeoww
    }


</script>

{% endblock content %}